wsdl/hellojava.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SayHelloToJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloToJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloToJavaResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloToJavaSoapIn">
    <wsdl:part name="parameters" element="tns:SayHelloToJava"/>
  </wsdl:message>
  <wsdl:message name="SayHelloToJavaSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloToJavaResponse"/>
  </wsdl:message>
  <wsdl:portType name="JavaComSoap">
    <wsdl:operation name="SayHelloToJava">
      <wsdl:input message="tns:SayHelloToJavaSoapIn"/>
      <wsdl:output message="tns:SayHelloToJavaSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JavaComSoap" type="tns:JavaComSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHelloToJava">
      <soap:operation soapAction="http://tempuri.org/SayHelloToJava" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JavaComSoap12" type="tns:JavaComSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHelloToJava">
      <soap12:operation soapAction="http://tempuri.org/SayHelloToJava" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JavaCom">
    <wsdl:port name="JavaComSoap" binding="tns:JavaComSoap">
      <soap:address location="http://localhost/JavaCom/JavaCom.asmx"/>
    </wsdl:port>
    <wsdl:port name="JavaComSoap12" binding="tns:JavaComSoap12">
      <soap12:address location="http://localhost/JavaCom/JavaCom.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>